body { background-color: lightgrey;
}

#footer{
    text-align:center;
    font-style:italic;
}

#currentTime{
    align-items:center;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

